* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    margin-top: 35px;
    margin-bottom: 41px;
}

.text-center{
    text-align: center;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

/*P핯INA MENSAGENS*/
div#mensagens {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 35px;
    margin-bottom: 41px;
    width: 90%;
    overflow-y: scroll;
    max-height: 89.6%;
}

form#mensagem {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90%;
}
    form#mensagem input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }
    form#mensagem button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

#listaMensagens, #listaEscrever, #listautilizadoresLigados {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    #listaMensagens li, #listaEscrever li, #listautilizadoresLigados li {
        padding: 5px 10px;
    }
        #listaMensagens li:nth-child(odd), #listaEscrever li:nth-child(odd), #listautilizadoresLigados li:nth-child(odd) {
            background: #eee;
        }

#listaEscrever {
    text-align: right;
    text-decoration: underline;
    font-weight: bold;
}

a {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

div#loginHeader, div#logoutHeader {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
}
#utilizadorLigado {
    width: 50%;
    float: left;
}
/*FIM P핯INA MENSAGENS*/

/*P핯INA REGISTAR*/
div.registar {
    width: auto;
    margin: 0 auto;
}
form#registarUtilizador, form#loginUtilizador {
    text-align: center;
}
    form#registarUtilizador button, form#loginUtilizador button {
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }
h3.erroLoginRegisto{
    color: red;
    display: none;
}
/*FIM P핯INA REGISTAR*/